<title>Dune Ipsum</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="/js/script.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<%= url('/css/styles.css') %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
