<main>
  <header>
    <form action="/" method="post">
      <select name="paragraphs" onchange="this.form.submit()">
        <option value="-" disabled selected>#</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </form>
    <h1>Dune Ipsum</h1>
  </header>
  
  <section id="container">
    <div id="copy-container">
      <button data-clipboard-target="#box">Copy</button>
    </div>
    <div id="box">
      <%= @text %>
    </div>
  </section>
</main>
