<header>
  <div class="header-box">
    <h1>Dune Ipsum</h1>
  </div>
  <h4 class="quote"><%= @quote %></h4>
</header>

<section id="container">
  <div id="button-container">
    <form action="/" method="post">
      <select name="paragraphs" onchange="this.form.submit()">
        <option value="-" disabled selected>#</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="arrow"></div>
    </form>
    <button data-clipboard-target="#box">Copy text</button>
    <button onClick="window.location.reload()">Other memory</button>
  </div>
  <div id="box">
    <%= @text %>
  </div>
</section>
