<!DOCTYPE html>
<html>
  <head>
    <%= erb :"shared/_head" %>
  </head>

  <div id="background"></div>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
  <%= erb :"shared/_footer" %>
</html>
