<!DOCTYPE html>
<html>
  <head>
    <%= erb :"shared/_head" %>
  </head>

  <div id="background"></div>
  <body>
    <main>
      <%= yield %>
    </main>

    <%= erb :"shared/_footer" %>
  </body>
</html>
