@import url('https://fonts.googleapis.com/css?family=Eczar|Work+Sans');

/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

/* Style */

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Eczar", "Times New Roman", serif;
  font-size: 16px;
  color: #1E1E1E;
  background: #eee url('/img/dune.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 75px;
  min-height: 100%;
}

main {
  padding: 0 40px;
}

.header-box {
  padding: 6px 10px;
  background-color: #1E1E1E;
  display: inline-block;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

header {

  h1, h4 {
    font-family: "Work Sans", Arial, sans-serif;
    text-transform: uppercase;
  }

  h1 {
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
  }

  h4 {
    font-size: .75em;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .quote {
    margin-left: 25px;
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    .quote {
      display: block;
      margin-top: 10px;
      margin-left: 2px;
    }
  }
}

#container {
  position: relative;
  left: 20px;
  text-align: left;
  margin-top: 50px;
  max-width: 800px;

  #button-container {
    position: absolute;
    top: 15px;
    left: -20px;
    z-index: 1;
  }

  form {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 1.5em;
      width: 40px;
      height: 35px;
      padding-left: 12px;
      color: #eee;
      border: 0;
      background-color: #1E1E1E;
      outline: 0;
      cursor: pointer;

      &:active {
        border: 0;
        border-top: 2px solid #1E1E1E;
      }

      option {
        background-color: #1E1E1E;
      }
    }

    .arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 20px 0 20px;
      border-color: #F62459 transparent transparent transparent;
    }
  }

  button {
    font-size: 12px;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    color: #eee;
    background-color: #1E1E1E;
    padding: 0px 15px;
    margin-left: 20px;
    height: 35px;
    border-bottom: 2px solid #F62459;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;

    &:active {
      border: 0;
      border-top: 2px solid #1E1E1E;
    }
  }
}

#box {
  background-color: #A6CAD2;
  opacity: 0.8;
  padding: 50px 15px 15px 30px;
  z-index: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

p {
  padding: 15px 20px;
  line-height: 2em;
}

footer {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  position: absolute;
  left: 40px;
  bottom: 0;

  a {
    color: #F62459;
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0 10px;
  }

  #container {
    left: 0;

    #button-container {
      left: 0;

      button {
        width: 90px;
        margin-left: 10px;
        padding: 0;
      }
    }
  }

  #box {
    padding: 50px 5px 5px 5px;
  }

  footer {
    left: 10px;
  }
}
